{
  "plugins": ["./plugins/remove-console-log-plugin.js", "dynamic-import-webpack"],
  "presets": [
    [
      "env",
      {
        "targets": {
          "browsers": [
            "last 2 versions",
            "IE >= 10"
          ]
        }
      }
    ]
  ]
}